@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bruno+Ace&display=swap');

body {
    margin: 0rem;
}

h1 {
    transform: translateY(150rem);
    animation: transform 1.5s ease .5s;
    animation-fill-mode: forwards;
    text-align: center;
    color: #EDE12F;
    margin: 0rem;
    font-size: 75px;
    font-family: 'Alfa Slab One', serif;
}

header {
    background-image: url("../images/stars.jpeg");
    background-repeat: no-repeat;
    padding: 4rem;
    background-size: cover;
    background-position: center;
}

.spacer {
    padding: .6rem;
    background-color: #EDE12F;
}

.spacer2 {
    padding: .2rem;
    background-color: black;
}

h2 {
    font-family: 'Bruno Ace', serif;
    margin: 2rem;
    font-size: 40px;
}

h3 {
    font-family: 'Bruno Ace', serif;
    margin: 2rem;
    color: #699DFA;
}
p {
    margin: 2rem;
    font-family: 'Bruno Ace', serif;
}

button {
    margin: 2rem;
    font-family: 'Bruno Ace', serif;
    color: #EDE12F;
    background-color: black;
    padding: 1rem;
}

footer {
    margin-top: 7rem;
}

.foot {
    padding: 1rem;
    background-color: #EDE12F;
}

@keyframes transform {
    0% {
        transform: translateY(-150rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@media screen and (min-width: 800px) {

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    section {
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 4rem;
        justify-content: space-evenly;
    }

    #movies {
        display: block;
        
        
    }
}